@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #8b9373;
  --primary-color: #8b9373;
  --primary-hover-color: #8b9373;
  --check-bg-color: #8b9373;
  --background-color: #ffffff;
  --button-background: #ffffff;
  --nav-primary: #8b9373;
  --btn-color: #8b9373;
  --toogle-white: #ffffff;
}

.dark {
  --text-color: #ffffff;
  --primary-color: #ffffff;
  --check-bg-color: #555555;
  --background-color: #000000; /* Dark mode background */
  --button-background: #000000; /* Dark mode button background */
  --btn-color: #555555; /* Dark mode text color */
  --nav-primary: #ffffff;
  --toogle-white: #111111;
}

@layer utilities {
  title .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    font-family: var(--font-space-grotesk);
  }

  h2 {
    @apply text-2xl text-gray-900;
  }

  h3 {
    @apply text-lg text-gray-900;
  }

  th .normal {
    @apply min-w-32;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .color-primary {
    color: var(--primary-color);
  }

  .toogle-white {
    background-color: var(--toogle-white);
  }
}

@layer components {
  * {
    @apply text-gray-900;
  }

  .btn-primary {
    @apply inline-flex justify-center rounded-md border border-transparent bg-blue-400 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-gray-100 font-roboto;
  }

  .btn-primary * {
    @apply text-white stroke-white;
  }

  .btn-secondary {
    @apply inline-flex justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 font-roboto;
  }

  .btn-secondary * {
    @apply text-gray-900 stroke-gray-900;
  }

  .input-primary {
    @apply focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md;
  }

  .nav {
    font-size: 1rem;
  }

  .title {
    @apply relative z-40 -top-9 text-lg font-bold inline-block px-6 h-0;
  }

  .card {
    @apply bg-white rounded-xl p-4 shadow-lg;
  }

  .cadence-navbar {
    @apply p-2 px-4 flex items-center gap-2 text-base border-2 border-blue-500 rounded-lg text-blue-900 !stroke-blue-900 bg-white hover:bg-blue-500 hover:text-white transition-colors duration-200;
  }

  .cadence-navbar * {
    @apply !stroke-blue-500 hover:stroke-white text-blue-900;
  }

  .cadence-navbar:hover * {
    @apply !stroke-white text-white;
  }
}

@layer utilities {
  .cbx {
    position: relative;
    top: 1px;
    width: 23px;
    height: 23px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
  }

  .cbx:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 7px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }

  .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  .input-cbx:checked ~ .cbx {
    @apply bg-blue-900;
    border-color: transparent;
    animation: jelly 0.6s ease;
  }

  .input-cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }

  .cntr {
    position: relative;
  }

  .input-primary {
    @apply block h-full w-full px-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-sm border border-gray-300 hover:border-gray-500 rounded-md focus:border-gray-500;
  }

  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }

    30% {
      transform: scale(1.25, 0.75);
    }

    40% {
      transform: scale(0.75, 1.25);
    }

    50% {
      transform: scale(1.15, 0.85);
    }

    65% {
      transform: scale(0.95, 1.05);
    }

    75% {
      transform: scale(1.05, 0.95);
    }

    to {
      transform: scale(1, 1);
    }
  }

  .hidden-xs-up {
    display: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropzone {
  text-align: center;
  padding: 16px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 10px;
}

.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 8px;
  line-height: 1.43;
  font-size: 12px;
  min-width: 32px;
}
.pagination-item .dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.pagination-item.selected {
  border: 1px solid #0066ff;
  border-radius: 8px;
}

.pagination-item.disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: to indicate it's disabled */
}

.pagination-item.selected {
  border: 1px solid #0066ff;
  border-radius: 8px;
}

.pagination-item.disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: to indicate it's disabled */
}

.pagination-item.selected {
  border: 1px solid #0066ff;
  border-radius: 8px;
}

.pagination-item.disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: to indicate it's disabled */
}

.Toastify__toast-body {
  font-size: 14px;
}

label {
  color: #555555;
}

.critical {
  color: white;
  background-color: #e94343;
}

.high {
  color: white;
  background-color: #ffa07a;
}

.medium {
  @apply bg-blue-500 text-white;
}

.low {
  color: white;
  background-color: #77cc95;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/* From Uiverse.io by SchawnnahJ */
.generating {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.generating:before,
.generating:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.generating:before {
  animation: before8 2s infinite;
}

.generating:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.generating {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

.my-tooltip-container {
  @apply max-w-48;
}

.ql-container {
  font-size: 1rem !important;
  font-family: inherit !important;
  height: 90% !important;
  display: flex;
  flex: 1 1 0%;
}

.ql-editor {
  flex: 1 1 0%;
  min-height: 200px;
}

.ql-toolbar.ql-snow {
  border-color: #e5e7eb !important;
  padding: 4px !important;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  position: sticky;
}

.ql-container.ql-snow {
  overflow-y: auto;
  border-color: #e5e7eb !important;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.ql-snow .ql-tooltip {
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1) !important;
  border-color: #e5e7eb !important;
}

.ql-snow .ql-picker {
  color: #374151 !important;
}

.ql-snow .ql-stroke {
  stroke: #374151 !important;
}

.ql-snow .ql-fill {
  fill: #374151 !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #2563eb !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke {
  stroke: #2563eb !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill {
  fill: #2563eb !important;
}

.ql-mention-list-container {
  width: 270px;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  line-height: 2em;
  padding: 0 1em;
  font-size: 0.875rem;
}

.ql-mention-list-item.selected {
  background-color: #e5e7eb;
  color: #374151;
  text-decoration: none;
}

.mention {
  color: #2563eb;
  background-color: rgba(37, 99, 235, 0.1);
  padding: 1px 4px;
  border-radius: 3px;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 4px !important;
}
